 <!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
    <div id="mainSH" style="width: 500px;height:400px;"></div>
    <div>
        <p id="SHTime" style="text-align: center"></p>
    </div>
 <script>
    setInterval(function () {
		    $.get('/display_now_sh_price').done(function(result) {
		            var time = result.map(function (item) {//将原数组映射成新数组，时间
                        return  item[0];
                    });

                    var price = result.map(function (item) {//将原数组映射成新数组，时间
                        return  item[1];
                    });
                    $("#SHTime").text("时间："+time+"　　　　"+"价格："+price);
            });
		}, 1000);

        // 基于准备好的dom，初始化echarts实例
        var myChartSH = echarts.init(document.getElementById('mainSH'));
		option = {
			title: {
				text: '动态数据 + 时间坐标轴'
			},
			tooltip: {
				trigger: 'axis',
				axisPointer: {
					animation: false
				}
			},
			xAxis: {
				type: 'category',
				splitLine: {
					show: false
				},
				data:[]
			},
			yAxis: {
                scale: true,
				boundaryGap: [0, '100%'],
				splitLine: {
					show: false
				}
			},
			series: [{
				name: '价格',
				type: 'line',
				showSymbol: false,
				hoverAnimation: false,
				data: []
			}]
		};
        myChartSH.setOption(option);

		setInterval(function () {
		    $.get('/display_now_sh').done(function(result) {
                //data.shift();

                    var rawData=result;

                    var time = rawData.map(function (item) {//将原数组映射成新数组，时间
                        return  item[0];
                    });

                    var price = rawData.map(function (item) {//将原数组映射成新数组，时间
                        return  item[1];
                    });

                    myChartSH.setOption({
                        xAxis:{
                            data:time
                        },
                        series: [{
                            data: price
                        }]
                    });
                    console.log("123");
            });
		}, 1000);

    </script>
