

<div id="content">
  <div id="content-header">
    <div id="breadcrumb"> <a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> 首页</a> <a href="#" class="current">注册</a> </div>
    <h1>修改参数</h1>
  </div>
  <div class="container-fluid"><hr>
    <div class="row-fluid">
      <div style="margin-left: 40px;margin-right: 40px;margin-top: 40px;">
        <div class="widget-box" style="width: 650px;margin: 0 auto;">
          <div class="widget-title"> <span class="icon"> <i class="icon-info-sign"></i> </span>
            <h5>希望若干年后拥有一笔资产，计算每期的投资</h5>
          </div>
          <div class="widget-content nopadding">
            <form class="form-horizontal" method="post" action="#" name="basic_validate" id="basic_validate" novalidate="novalidate">
              <div class="control-group">
                <label class="control-label" style="margin-right: 10px;">将要投资总期数</label>
                <div class="controls">
                  <input type="text" id="AIterms">
                </div>
              </div>
                <div class="control-group">
                <label class="control-label" style="margin-right: 10px;">账户已有总额</label>
                <div class="controls">
                  <input type="text"  id="AIalInvest" >
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" style="margin-right: 10px;">期望的初始投资</label>
                <div class="controls">
                  <input type="text" id="AIinInvest">
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" style="margin-right: 10px;">投资增长率</label>
                <div class="controls">
                  <input type="text" id="AIinRate">
                </div>
              </div>
                <div class="control-group">
                <label class="control-label" style="margin-right: 10px;">税率</label>
                <div class="controls">
                  <input type="text" id="AItaxRate">
                </div>
              </div>
                <div class="control-group">
                <label class="control-label" style="margin-right: 10px;">每期多长时间</label>
                <div class="controls">
                  <select id="AIdayCount">
                      <option value="15" selected="selected">15天</option>
                      <option value="30">30天</option>
                      <option value="60">60天</option>
                      <option value="90">90天</option>
                  </select>
                </div>
              </div>
              <div class="form-actions">
                  <input type="reset" value="重置" class="btn btn-reset" style="margin-left: 20px;">
                <input type="submit" id="AIsubmit" value="确定" class="btn btn-success" onclick="return false;"  style="float:right;margin-right: 30px;">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
    $("#AIsubmit").click(function(){
                 var AIterms=$("#AIterms").val();
                 var AIalInvest=$("#AIalInvest").val();
                 var AIinInvest=$("#AIinInvest").val();
                 var AIinRate=$("#AIinRate").val();
                 var AItaxRate=$("#AItaxRate").val();
                 var AIdayCount=$("#AIdayCount").val();
                if(AIterms<=0){
                     $("#example").modal('toggle');
                    $("#AlertMessage").text("将要投资总期数输入有误");
                 }
                 else if(AIalInvest<=0){
                     $("#example").modal('toggle');
                    $("#AlertMessage").text("账户已有总额输入有误");
                 }
                 else if(AIinInvest<=0){
                     $("#example").modal('toggle');
                    $("#AlertMessage").text("期望的初始投资输入有误");
                 }
                 else if(AIinRate<=0){
                     $("#example").modal('toggle');
                    $("#AlertMessage").text("投资增长率率输入有误");
                 }
                 else if(AItaxRate<=0){
                     $("#example").modal('toggle');
                    $("#AlertMessage").text("税率输入有误");
                 }
                 else{
                        $.post("/change_final/",{Fterms:AIterms,FalInvest:AIalInvest,FinInvest:AIinInvest,FinRate:AIinRate,FtaxRate:AItaxRate,FdayCount:AIdayCount}).done(function(result){
                             if(result=="true"){
                                 $("#textMessage").text("注册成功");
                                 $("#TextSubmit").click(function(){
                                     window.location.href='/disHist/';
                                 });
                                 //注意此出绑定的方法是否为一次性
                                 $("#textExample").modal('toggle');
                             }else if(result=="already"){
                                 $("#example").modal('toggle');
                                 $("#AlertMessage").text("手机号已经注册");
                             }else{
                                 $("#example").modal('toggle');
                                 $("#AlertMessage").text("注册失败");
                             }
                     })
                 }
    });
    $("#AIterms").blur(function(){
       var AIterms=$("#AIterms").val();
       if(AIterms<=0){
                     $("#example").modal('toggle');
                    $("#AlertMessage").text("将要投资总期数输入有误");
                 }
    });
    $("#AIalInvest").blur(function(){
       var AIalInvest=$("#AIalInvest").val();
       if(AIalInvest<=0){
                     $("#example").modal('toggle');
                    $("#AlertMessage").text("账户已有总额输入有误");
                 }
    });
    $("#AIinInvest").blur(function(){
       var AIinInvest=$("#AIinInvest").val();
       if(AIinInvest<=0){
                     $("#example").modal('toggle');
                    $("#AlertMessage").text("期望的初始投资输入有误");
                 }

    });
    $("#AIinRate").blur(function(){
        var AIinRate=$("#AIinRate").val();
        if(AIinRate<=0){
                     $("#example").modal('toggle');
                    $("#AlertMessage").text("投资增长率率输入有误");
                 }
    });
    $("#AItaxRate").blur(function(){
        var AItaxRate=$("#AItaxRate").val();
        if(AItaxRate<=0){
                     $("#example").modal('toggle');
                    $("#AlertMessage").text("税率输入有误");
                 }
    })
</script>
