<!--Footer-part-->
<div class="row-fluid">
  <div id="footer" class="span12"> 基于SVM的股指量化分析系统 <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a> </div>
</div>

<!--end-Footer-part-->
<script src="/static/js/jquery.ui.custom.js"></script>
<script src="/static/js/bootstrap-colorpicker.js"></script>
<script src="/static/js/bootstrap-datepicker.js"></script>
<script src="/static/js/jquery.toggle.buttons.html"></script>
<script src="/static/js/masked.js"></script>
<script src="/static/js/jquery.uniform.js"></script>
<script src="/static/js/select2.min.js"></script>
<script src="/static/js/matrix.js"></script>
<script src="/static/js/matrix.form_common.js"></script>
<script src="/static/js/jquery.peity.min.js"></script>

</body>
</html>